<h6>Square number logs</h6>
<ul class="logs">
    <li *ngFor="let log of squaredNumberLogs">{{log}}</li>
</ul>

<ul class="logs">
    <li *ngFor="let log of multipledNumberLogs">{{log}}</li>
</ul>

<h6>odd filtered logs</h6>
<ul class="logs">
    <li *ngFor="let log of oddFilteredLogs">{{log}}</li>
</ul>

<h6>odd filtered logs using pipe</h6>
<ul class="logs">
    <li *ngFor="let log of squarepipeLogs">{{log}}</li>
</ul>

<h6>pipe</h6>
<ul class="logs">
    <li *ngFor="let log of pipeLogss">{{log}}</li>
</ul>